version: 2.1
jobs:
  build:
    docker:
    - image: circleci/node:12.19.0

    working_directory: ~/app

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "package.json" }}
        - v1-dependencies-

    - run: yarn install

    - save_cache:
        paths:
        - node_modules
        key: v1-dependencies-{{ checksum "package.json" }}

    - run: 
        command:
          git config --global user.email "cjswo4034@gmail.com"
          git config --global user.name "Nsm"
          yarn run deploy